border-color = rgba(20,80,100,.5)
border = solid 1px border-color
corner-rounding = 6px
content-width = 1000px
nav-width = 170px
font-color = #222

global-reset()

html
  height 100%
  margin 0
  padding 0
  border 0
  outline 0

body
  @extends html
  background-color white
