#navigation
  absolute left
  vertical-align top
  display inline-block
  padding = 20px
  width nav-width
  padding 0 padding
  // text-align center
  & > #nav
    position relative
    display inline-block
    text-align left
    background white
    & > a
      display block
      white-space nowrap
    a.account:before
      absolute bottom 0 left 0
      content '>'
      margin-right .4em


  .lorkas-links
    width 100%
    .find-us
      margin-top 1em
      font-size small
    & > a
      margin-right 20%
      & > svg
        size 25px



