extends standard_page

block content
  p Who are we?
  p
    | Laptop Orchestra of Arizona State (LOrkAS) an experimental sonic art performance collective, which integrates technology and [sonic art, visual displays, and interactive expression]. We are graduate, undergraduate, and industry researchers from various academic backgrounds and disciplines. Director Diana Siwiak, a Stanford Laptop Orchestra (
    a(href="http://slork.stanford.edu/") SLOrk
    | ) alumna and ASU Media, Arts, and Sciences doctoral student, founded the troupe in Fall 2010. We are the only solely student-managed ensemble in the nation. We push the envelope, integrating arts and technology, by contemporizing the paradigm of art performance into a trans-disciplinary entity. 
  p
    | We are a project under 
    a(href="http://urbanstew.org/") urbanSTEW
    | , in cooperation with the 
    a(href="https://orgsync.com/43641/chapter") LOrkAS @ ASU
    | Club on the Arizona State University campus. 
