extends standard_page

block content
  #recruiting.section
    h2 Now recruiting members!
    h6
      | Here is a map to the 
      a(href="http://www.asu.edu/map/interactive/?campus=tempe&building=TOWER-B") Digital Arts Ranch 
      | at ASU.
    a(href="/images/lorkas_poster_join.png")
      img.poster(src="/images/lorkas_poster_join.png")

  #about-us.section
    h2 Who are we?
    .text-block
      |  Laptop Orchestra of Arizona State (LOrkAS) is an experimental sonic art performance collective exploring the use of the laptop as an ensemble instrument for musical expression.  We are using this medium to develop new possibilities and skills in listening, improvisation, performance, composition, coding, and teaching, as well as adapting contemporary classical repertoire and 'classic' laptop orchestra works for our purposes.
    .text-block
      | We are a project under 
      a(href="http://urbanstew.org/") urbanSTEW 
      | , in cooperation with the 
      a(href="https://orgsync.com/43641/chapter") LOrkAS @ ASU 
      | Club on the Arizona State University campus. 
