#footer-contents
  .urban-stew Laptop Orchestra of Arizona State University is a project of Urban Stew.
  .brent The LOrkAS website was made by 
    a(href="https://github.com/zenbrent") Brent Brimhall
    | .
