extends standard_page 
block content

  mixin person-link(name)
    a(href="/people##{name}")= name

  .originals
    h2 Performances
    .composition.performances
      a(href="http://vimeo.com/courtneydbrown/telephonetangolorkas")
        h5.title Telephone Tango
        h6.subtitle Nov. 19, 2012 Performance at Katzin Hall
      .description
        .p Performers: 
           mixin person-link("Courtney Brown"), 
           mixin person-link("Ryan Spicer"), 
           mixin person-link("Brent Brimhall"), 
           mixin person-link("Lisa Adelaide"), 
           mixin person-link("Patrick McCracken"), 
           mixin person-link("Byron Lahey"), 
           mixin person-link("Morgan Waters"), 
           mixin person-link("Jacqueline Xinos"), 
           mixin person-link("Kate Cleaveland"), 
        .p
          | <iframe src="http://player.vimeo.com/video/54329958?portrait=0" width="500" height="367" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/54329958">Telephone Tango - Laptop Orchestra of Arizona State - Nov. 19, 2012</a> from <a href="http://vimeo.com/courtneydbrown">Courtney Brown</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
        .p This piece is a play on the parlor game "Telephone", in which participants whisper to each other phrases that gradually change in the telling.  In this case, rhythms get sent  in real-time via a networked video-game-like score to performers, and their performances are recorded and sent as graphic scores to the next player. 

