extends standard_page 
block content
  .notice
    h4: a(href="https://docs.google.com/spreadsheet/ccc?key=0Aq8IhvbE-gP8dEhlVE96LURkNDdUYjVPYXg4N0NMYWc#gid=0") Sign up to buy a speaker
    .description
      p Courtney and Brent can only personally afford a few for LOrkAS, and we don't have funding for equipment yet.
      p Plz help! We're asking for a $20 donation for a speaker. It will be yours to keep. :)
  .piece
    h4 Workers Union
    .description
      p: a(href="/files/workers_union.pdf") PDF score with the carnatic names for the rhythms.
      p: a(href="/files/rhythm_worksheet_for_lorkas.pdf") Introduction to carnatic rhythms.
  .piece
