extends standard_page 
block content
  .information
    h4
      | Information from 
      mixin person-link("Courtney's", "Courtney Brown")
      |  intro to audio DSP talk
    .description
      .p
        a(href="/files/Digital Audio -- Quick and Brutal.pptx") The slides from the presentation 
        a(href="http://docs.google.com/viewer?url=http://loras.org/files/Digital Audio -- Quick and Brutal.pptx") (view online)
        |  - Probably most useful if you were present for the talk. There are also some good links in the slides.
      .p
        a(href="/files/CG10-AntiAliasing.pdf") Good DSP primer on FFT, Convolution, with diagrams of common function x-forms 
        | (for image processing but COMPLETELY relevant) -- also has a lot of good sampling notes -- on the more advanced side for that aspect. 
        a(href="http://www.mpi-inf.mpg.de/departments/d4/teaching/ws200708/cg/slides/CG10-AntiAliasing.pdf") (from here)

  .notice
    h4: a(href="https://docs.google.com/spreadsheet/ccc?key=0Aq8IhvbE-gP8dERIZWlLRFBHeUNOdFNXbFp6bE5VOWc#gid=0") Sign up for a free lorkas shirt!
    .description
      .p We perform in these, so if you don't have one, you should probably get one. :)
  .notice
    h4: a(href="https://docs.google.com/spreadsheet/ccc?key=0Aq8IhvbE-gP8dEhlVE96LURkNDdUYjVPYXg4N0NMYWc#gid=0") Sign up to buy a speaker
    .description
      p Courtney and Brent can only personally afford a few for LOrkAS, and we don't have funding for equipment yet.
      p Plz help! We're asking for a $20 donation for a speaker. It will be yours to keep. :)
  .piece
    h4 Workers Union
    .description
      p: a(href="/files/workers_union_renotated.pdf") PDF score with the carnatic names for the rhythms.
      p
        a(href="/files/workers_union_score.pdf") Complete score of Worker's Union
        |  via 
        a(href="http://www.basilicaproject.com/index.php?sub=violin") Basilica
      p: a(href="/files/rhythm_worksheet_for_lorkas.pdf") Introduction to carnatic rhythms.
  .piece
    a(href="http://helo.ablelemon.co.uk/doku.php/materials/repertoire#human_shredders")
      h4 Human Shredders
    .description
      p From another laptop orchestra. 
        a(href="/files/humanshredders.pdf") Here is the score.

  .piece
    a(href="http://www.4-33.com/scores/cobra/cobra-notes.html")
      h4 COBRA
      .description
        .p Um... ya, a link to the instructions. :)

  .notice
    a(href="https://www.google.com/calendar/render?cid=lorkas2010%40gmail.com"): h4 Our google calendar
    .description
      .p Feel free to add it to your google calendar. We'll try to keep the events updated.
      .p
        | <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=lorkas2010%40gmail.com&amp;color=%232952A3&amp;ctz=America%2FPhoenix" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
