#nav
  - if(loggedIn)
    h6: a.account(href="/account") My Account
  h6: a(href="/") About LOrkAS
  h6: a(href="/people") People of LOrkAS
  //- h6: a(href="/performances") Performances
  h6: a(href="/media") Media
  h6: a(href="/repertoire") Our Repertoire
  - if(loggedIn)
    h6: a(href="/roadmap") Website Roadmap
  h6: a(href="/press") Press
  //- h6: a(href="/publications") Publications
  - if(loggedIn)
    h6: a(href="/contact") Contact Us

  include other_lorkas_links
