extends standard_page 
block content
  .press
    a(href="http://www.statepress.com/2013/03/18/video-laptop-orchestra-a-sonic-experience/")
      h4.title Video: Laptop Orchestra- A Sonic Experience
      .by
        | By 
        a(href="http://www.statepress.com/author/sean-logan/") Sean Logan
        |  of ASU's 
        a(href="http://www.statepress.com/") State Press

  .press
    a(href="http://blogs.phoenixnewtimes.com/jackalope/2012/04/john_cage_centennial_celebrati.php")
      h4.title John Cage Centennial Celebration Performances from 7 Ate 9 at Modified
    .description Jackalope Ranch Blog - Phoenix New Times - April 20, 2012

  .press
    a(href="http://www.statepress.com/2012/04/20/dancers-perform-modern-improv-spectacle-7-ate-9/")
      h4.title Dancers perform modern improv spectacle ‘7-Ate-9’
    .description The State Press - April 20, 2012

  .press
    a(href="https://ccrma.stanford.edu/~dsiwiak/media/LOrkAS.pdf")
      h4.title Laptop Orchestra of Arizona State: The Student Venture
    .description Proceedings of Inaugural Symposium for Laptop Ensembles and Orchestras (SLEO), Baton Rouge, LA. April 14 - 17, 2012

  .press
    a(href="http://www.ecollegetimes.com/calendar/play-festival-will-reboot-your-creative-motherboard-1.2718152#.UQoAhlo3lpc")
      h4.title Play! Festival Will Reboot Your Creative Motherboard 
    .description College Times - March 12, 2012
