extends standard_page 
block content
  .originals
    h2 Original Compositions
    
    .composition
      h5.title Telephone Tango
      .composers Courtney Brown with assistance from Ryan Spicer
      .description


  .from-others
    h2 Others
    .composition
      h5.title: a(href="http://en.wikipedia.org/wiki/Cobra_(Zorn)") COBRA
      .composer: a(href="http://www.tzadik.com/") John Zorn
      .description 
