extends standard_page 
block content
  .originals
    h2 Original Compositions
    
    .composition#telephone-tango
      h5.title Telephone Tango
      h6.composers
        a(href="http://somethingfurry.com") Courtney Brown 
        | in collaboration with 
        a(href="http://www.alterscapes.org/") Ryan Spicer
      .description
        .p Telephone Tango is a rhythmic game piece. Performers are organized in sections, and play by hitting pots and pans with contact mics to a visual score on the computer. The computer detects when the performer strikes their insturment, and records what the performer plays as a score to pass on to the next section. As the music goes from the first to the last player, the score slowly falls apart, similar to the telephone game played by children.
        .p: a(href="http://vimeo.com/54329958") View our November 19th, 2012 performance of Telephone Tango.

  .from-others
    h2 Others
    .composition#cobra
      h5.title: a(href="http://en.wikipedia.org/wiki/Cobra_(Zorn)") COBRA
      h6.composer: a(href="http://www.tzadik.com/") John Zorn
      .description  COBRA is a conducted, improvised game performance. The conductor has a series of cards that instruct the performers to jump in and play, stop playing, duet with another player, interject a cartoon sound, etc. The cards can instruct the group as a whole or individuals within the group. Performers can also form renegade "guerrilla systems" who do not follow the choreographer. There is a strong emphasis on individuality, as performers can choose any insturment to use, acoustic, software, or both.
    
    .composition#in-c
      h5.title: a(href="http://en.wikipedia.org/wiki/In_C") In C
      h6.composer: a(href="http://en.wikipedia.org/wiki/Cobra_(Zorn)/") Terry Riley
      .description In C is a semi-aleatoric piece with 53 short, predetermined musical phrases. Performers play the phrases in any order and at any time they choose, and my transpose the sections in octave intervals. It is suggested that performers play the phrases entirely in order and stay within two to three phrases of each other. There is a strong emphasis on listening to the group to decide what and when to play.

    .composition#granite
      h5.title Granite
      h6.composer: a(href="http://www.tzadik.com//") Perry Cook
      .description Granite is a piece with processed from recordings of stone sculptor Jonathan Shor's working of a large piece of granite. Performers manipulate an interface to modify acoustic paramaters and create rhythms within the sound.

    .composition#bblvl
      h5.title BBLVL
      h6.composer: a(href="http://en.wikipedia.org/wiki/Perry_Cook") Perry Cook
      .description
        | BBLVL was written for LOrkAS by Perry Cook. Performers tilt their laptops to move a ball on the screen, much like a 
        a(href="http://en.wikipedia.org/wiki/Spirit_level") bubble level 
        | , which produces audio as it interacts with objects. There is an on-screen, textual score that instructs the performers as they play.

    .composition#workers-union
      h5.title: a(href="http://www.laphil.com/philpedia/music/workers-union-louis-andriessen") Workers Union (in progress)
      h6.composer: a(href="http://en.wikipedia.org/wiki/Louis_Andriessen") Louis Andriessen
      .description
        Workers Union is a large, exacting, rhythmic musical piece for, in Andriessen's words, "any loud sounding group of instruments." The score notates indeterminate pitch and exacting rhythm. We use the Indian 
        a(href="http://en.wikipedia.org/wiki/Tala_(music)") tala system of rhythm 
        | from the 
        a(href="http://en.wikipedia.org/wiki/Carnatic_music") Carnatic system 
        | of Indian classical music, which is taught in advanced rhythm courses at ASU, to learn Workers Union.


