extends standard_page

block content
  ul.roadmap
    li ASAP - update and clean up
      ul
        li: span.easy list of performances
        li: span.easy repertoire list
        li Member directory / list -- can be very basic
          ul
            li: span.done Reformat member list in json
            li: span.done: span.easy Create view for the users
            li: span.hard Update everyone's information so it looks good and is more current.
        li: span.easy more group/performing pics throughout instead of a photo gallery
        li: span.easy link to groupspaces, Facebook, github on front page & separate page for contact us for booking/joining -- organization of the site needs to be clearer
        li: span.easy rehearsal times / dates (info after tomorrow), location with map (DAR)
        li: span.done: span.easy Could make layout/design a bit sharper
    li Good to do
      ul
        li: span.hard member space (using shared google docs for this is A-OK with me but if you wanna get fanceh, then get fanceh mr.):
          ul
            li: span.done: span.easy Set up mongodb
            li: span.done: span.easy Set up user registration
            li: span.easy: a(href="https://github.com/havard/node-openid") Set up openid
            li: span.easy User profile page
            li: span.easy Permissions (e.g. admin who can edit everyone)
        li: span.easy let ppl fill out their availability
          ul
            li: span.easy add a page, set up a table
            li: span.easy let ppl enter in actual time ranges
            li: span.easy make it realtime!
        li: span.hard organize different groups/workshops using the site
        li: span.hard allow to add suggestions for pieces
        li: span.hard Interactive piece online or as your imagination desires

    li: span.hard: span.easy ???
    li: span.hard Profit!!!

