// a.button
//   cursor pointer
//   border-radius corner-rounding
//   border solid border-color 1px
//   padding .1em .5em
//   &:hover
//     text-decoration none
//     color black
//     border-color rgba(#000, .9)

#account
  // label
  //   &.member
  //   &.active
  //     display inline-block
  #bio
    .container
      font-size .9em
      height 8em
      width 1px
      padding 5px
      textarea.input
        font inherit
        resize none
        white-space normal
        word-wrap break-word
        border border
        padding .3em
        width 40em
        height 7em
        text-align left
        overflow scroll
  
  .oauth
    a.unlink
      display block
      vertical-align middle
      text-align center
      height 1.1em
      width @height
      line-height @height
      border solid black 1px
      border-radius @height
      display inline-block
      margin-left 1em
      &:hover
        display inline-block
        color #000
        background-color #e79
        text-decoration none
