#footer
  width 100%
  margin 0
  padding 0
  display block
  #footer-contents
    text-align right
    font-size small
    color rgba(0,0,0,.8)
    width content-width
    margin 0 auto
    padding .5em

    a
      font-weight bold
