tag(name, color, font = null)
  &:after
    if font
      color font
    display inline-block
    background-color color
    border solid 1px rgba(0,0,0,.6)
    border-radius 7px
    box-shadow inset 1px 1px 3px 1px rgba(100,100,100,.3)
    content name
    margin auto .3em
    font-size .8em
    padding .1em .5em
    text-align center
    text-shadow 1px 1px rgba(0,0,0,.1)
    vertical-align middle

box-shadow()
  // http://www.css3.info/preview/box-shadow/
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

min-height(v)
  min-height v
  height auto !important
  height v

opacity(n, support-for-ie = true)
  -khtml-opacity n
  -moz-opacity n
  opacity n
  if support-for-ie
    -ms-filter unquote('"progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')"')
    filter unquote('alpha(opacity=' + round(n * 100) + ')')

transform(args...)
  -moz-transform args
  -webkit-transform args
  -o-transform args
  -khtml-transform args

size(width, height = width)
  width width
  height height

