@import functions

// http://lea.verou.me/2012/04/background-attachment-local/

// http://www.javascriptkit.com/dhtmltutors/cssmediaqueries.shtml
// smallPage()
//   &
//     @media (max-width: 480px)

// smallPage()
//   div
//     background-color blue

// nifty styles here:
// http://vertx.io/

@import general
@import header
@import footer
@import navigation
@import account

.icon svg
  size 30px

#center
  box-shadow( 0 0 8000px -100px rgba(90,150,200,.5))
  min-height 80%
  border border
  position relative
  background-color #fff
  width content-width
  margin 1em auto
  border-radius corner-rounding
  clearfix()
  & >
    h1.title
      border-bottom border
      padding .3em 3em
      width 35%
      margin-bottom 1em

    #content
      float right
      display inline-block
      width content-width - nav-width - 18
      margin 0 15px 1em 0

