@import functions
@import layout
@import objects

#members
  .person
    margin-bottom 1em
    // display inline-block

    // size 28% 15em
    // padding .5em
    // margin .4em .5em
    // border-left @border-top
    // border-right none
    // border-bottom @border-right
    // vertical-align top

    // overflow hidden

    .top, .labels, .bio
      position relative
      & > *
        margin-right .5em
        vertical-align middle

    .top
      .name
        font-size 1.1em
        display inline-block
      a.website
        position relative
        display inline-block
        size 20px
        svg
          absolute top left
          size 100%

    .labels
      .position
        margin-left .5em
        font-size .8em


a.not-found
  fixed top left
  size 100%
  text-align center
  background-color rgba(0,0,0,.7)
  z-index 10000
  & >
    *
      display inline-block
      position relative
    .spacer
      size 0px 100%
      vertical-align middle
    .text
      color white
      &:hover
        color @color
      font-size 3em
      text-shadow .1em .1em .1em rgba(0,0,0,.2)
      vertical-align text-bottom
